<div class="step current" data-step="employment-status">
  <%= form_tag smart_answer_path(params.slice(:id, :started).merge(responses: @presenter.accepted_responses)), :authenticity_token => false %>
    <div class="current-question" id="current-question">
      <h2>
        <span class="question-number"><%= @presenter.current_question_number %> </span><%= question.title %>
      </h2>
      
      <%= render :partial => 'question', :locals => { question: question } %>

      <div class="next-question">
        <input name="next" type="submit" value="Next step &rarr;" class="medium button">
      </div>
    </div>
  </form>
</div>
